@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 400;
  font-family: "Poppins";
}

:root {
  --primary: #fe634e;
}

@font-face {
  font-family: "Poppins";
  src: url(Assets/fonts/Poppins-Medium.ttf) format("trueType");
}

body {
  background: #f4f6fa;
  margin: 0;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-input {
  border-radius: 8px !important;
  border-color: #ffffff !important;
}

.ant-form-item .ant-form-item-explain-error {
  color: rgb(255 255 255);
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 24px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #f4f6fa;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: #f4f6fa;
}

.site-layout .site-layout-background {
  background: #ffffff;
}

.site-layout2 .site-layout-background2 {
  background: #ffffff;
}

.ant-layout-header {
  padding-inline: 40px;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: rgb(254, 99, 90, 0.2);
  color: #fe634e;
  justify-content: center;
}

.ant-menu-item {
  color: #898989;
  justify-content: center;
}

.ant-menu-item .ant-menu-item-active {
  background-color: rgb(254, 99, 90, 0.2);
  color: #fe634e;
  font-weight: 600;
  justify-content: center;
}

.ant-menu-item-selected .ant-menu-title-content {
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.flex-container::-webkit-scrollbar {
  display: none;
}

table {
  font-size: 13px;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  background-color: var(--primary);
}

.ant-table-thead .ant-table-cell {
  background-color: var(--primary);
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  text-align: center !important;
}

tr:nth-child(even) > .ant-table-cell-fix-left,
.ant-table-row:nth-child(even) {
  background-color: #ffefed !important;
}
tr:nth-child(odd) > .ant-table-cell-fix-right .ant-table-row:nth-child(odd) {
  background: #ffffff !important;
}

.ant-pagination-item:not(.ant-pagination-item-active),
.ant-pagination-item-link {
  background: rgb(29.4, 27.5, 36.1, 8%) !important;
  border-radius: 4px !important;
  color: rgb(29.4, 27.5, 36.1, 60%) !important;
}

.ant-pagination-item:not(.ant-pagination-item-active) a:hover {
  color: var(--primary) !important;
}
.ant-pagination-item-active a {
  color: #fff !important;
}

.ant-pagination-item-active {
  border-color: transparent !important;
  background: var(--primary) !important;
}
.ant-pagination-item {
  margin: 0px 2px !important;
  border-radius: 4px !important;
}
.ant-pagination-total-text,
.ant-pagination-item:not(.ant-pagination-item-active) a {
  color: rgb(29.4, 27.5, 36.1, 60%) !important;
}
.ant-table-filter-trigger,
.ant-table-column-sorter {
  color: #fff !important;
}

.ant-table-column-title {
  font-weight: 700 !important;
  color: rgb(255 255 255) !important;
  text-transform: uppercase;
}

th.ant-table-cell {
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.ant-select-selection-item {
  color: rgb(29.4, 27.5, 36.1, 60%) !important;
}

.ant-form-item .ant-form-item-explain-error {
  color: rgb(239 68 68);
}

.ant-input {
  border-color: #dbe2ea !important;
}

.ant-checkbox-warpper-checked:hover,
.ant-checkbox-wrapper:hover,
.ant-checkbox:hover {
  border-color: #fe634e !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #fe634e !important;
}
.ant-checkbox .ant-checkbox-inner {
  width: 18px;
  height: 18px;
  background-color: #fff !important;
  border-color: rgb(29.4, 27.5, 36.1, 20%) !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: #fe634e !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fe634e !important;
  border-color: transparent !important;
  border-radius: 4px !important;
}
.ant-input-status-error {
  border-color: #ff4d4f !important;
}

.ant-tooltip .ant-tooltip-inner {
  background-color: #fe634e !important;
}

.ant-tooltip .ant-tooltip-arrow {
  display: none;
}

ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #fff;
}

.ant-select-item-option:hover {
  background-color: #fe9d8f !important;
}
.ant-select-item-option-selected {
  background-color: #fe634e !important;
  color: #000000 !important;
}

.ant-select-item-option-selected:hover {
  background-color: #fe9d8f !important;
}

.ant-tag.ant-tag-has-color  {
  border-color: #ffdad5 !important;
}

.ant-tag.ant-tag-has-color .ant-tag-close-icon {
color: #fe634e
}

.ant-tag {
  font-weight: 600;
  font-size: 13px;
  background: transparent;
  color: #fe634e !important;
  justify-self: center;
  align-items: center;
  display: inline-flex;
}

.ant-form-item-feedback-icon{
  justify-self: center;
  align-items: center;
  display: inherit;
}

.real-time {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); 
  }

  .real-time  {
    grid-template-columns: repeat(4, 1fr);
  }

  .dashboard  {
    grid-template-columns: repeat(6, 1fr);
  }
}


.Card {
  width: 100%;
}

.text-[14px] {
  font-size: 14px;
}

.text-[12px] {
  font-size: 12px;
}

.Button {
  width: 100px;
}

.px-[20px] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-[20px] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mt-[10px] {
  margin-top: 10px;
}

.Card {
  width: 100%;
}

.font-bold {
  font-weight: bold;
}

.text-[14px] {
  font-size: 14px;
}

.text-[#FE634E] {
  color: #FE634E;
}

.uppercase {
  text-transform: uppercase;
}


.gap-y-2 > * + * {
  margin-top: 0.5rem;
}

.mt-[30px] {
  margin-top: 30px;
}

.items-center {
  align-items: center;
}

.gap-x-3 > * + * {
  margin-left: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.text-white {
  color: white;
}

.font-semibold {
  font-weight: 600;
}

.text-[#000000] {
  color: #000000;
}

.px-[26px] {
  padding-left: 26px;
  padding-right: 26px;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-[14px] {
  font-size: 14px;
}

.text-white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .flex {
    flex-wrap: nowrap;
  }
  .mt-[30px] {
    margin-top: 0;
  }
  .gap-y-2 > * + * {
    margin-top: 0;
    margin-left: 2rem;
  }
  .gap-x-3 > * + * {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .gap-x-3 > * + * {
    margin-left: 2rem;
    margin-top: 0;
  }
}

.site-layout {
  height: 100%;
}

.site-layout-background {
  overflow: auto;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 6px;
  margin-bottom: 6px;
  justify-items: center;
}

.logo.col-span-2 {
  grid-column: span 2;
}

.site-layout2 {
  background-color: rgb(244,246,250)
}

.site-layout-background2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.site-layout2 .trigger {
  font-size: 24px;
  color: #4b465c;
  width: 24px;
}

.font-bold {
  font-weight: bold;
}

.text-[28px] {
  font-size: 28px;
  font-weight: bold;
}

.text-bold {
  font-weight: bold;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.site-layout2 .trigger {
  font-size: 24px;
  color: #4b465c;
  width: 24px;
}

.content {
  margin: 20px 20px;
}

@media (max-width: 768px) {
  .logo {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .site-layout-background2 {
    margin: 1rem;
  }

  .site-layout2 .trigger {
    font-size: 20px;
  }

  .text-[28px] {
    font-size: 24px;
  }

  .content {
    margin: 10px;
  }
}






